

.row{

    margin-top: 20px;

    width: 75%;
    height: 200px;
    /* background-color: tan; */
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.col{
    width: 20%;
    height: 200px;
    /* border: 1px solid red; */
}

.col>img{
    width: 100%;
    
}